# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# OS
.DS_Store

# Local testing output
samples/
samples.zip
Backend/Pantheon_API/pantheon-api-deploy.zip
new things to do
Stage3_26w.pdf
final_samples/
Stage4_26w.pdf
ENGINE_DESIGN.md
ENGINE_v2_CHANGELOG.md
HIGHLIGHTING_FIXES_CHANGELOG.md